<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styling/bootstrap.css" />

    <title>Login!</title>
  </head>
  <body class="p-5 h-100">
    <div class="row h-100">
      <div class="formcontainer mx-auto w-50 bg-secondary p-3 mt-5 my-auto">
        <form action="/loginProcess" method="post">
            <input type="text" class="form-control" name="uname" placeholder="Username" required>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <button type="submit" method="post" class="btn btn-primary">Sign in</button>
        </form>
        <a href="/signupForm"> or signup</a>
      </div>
    </div>
  </body>
</html>
